* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  font-style: italic;
  color: #000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.table {
  border-collapse: collapse;
  margin: 5px;
}

.table td,
.table th {
  width: 20vw;
  text-align: center;
  border: 1px solid rgba(128, 128, 128);
  padding: 5px;
}

.table tr:hover,
.table--rebuilt tr:hover {
  background: rgba(128, 128, 128, 0.333);
}

.table--rebuilt {
  /* width: 60vw; */
  border: 1px solid rgba(128, 128, 128);
  padding: 5px;
}

.table--rebuilt__client tr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table--rebuilt__client td:nth-child(1) {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  padding: 10px 0;
  cursor: pointer;
}

.table--rebuilt__client td:nth-child(1):hover {
  color: red;
}

.hideTable {
  display: none;
}

.table__client--notice,
.table--rebuilt__contacts--cancel {
  cursor: pointer;
}

.table--rebuilt__contacts--cancel {
  width: 40px;
  border-radius: 5px;
}

.table__client--notice:hover,
.table--rebuilt__contacts--cancel:hover {
  background: rgba(0, 128, 0, 0.4);
}

.table--rebuilt__contacts--info {
  border: 1px solid rgba(128, 128, 128);
  border-left: none;
  padding: 5px;
}

.table--rebuilt__wrap {
  display: flex;
  width: 90vw;
  margin: 5px auto;
  border-collapse: collapse;
}

.table--rebuilt__contacts--exit {
  position: absolute;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;
}

.table--rebuilt__contacts--exit:hover {
  color: red;
}

@media screen and (max-width: 425px) {
  .table thead {
    display: none;
  }

  .table tr {
    display: block;
    border-radius: 5px;
    margin: 5px;
  }

  .table tr:nth-child(2n) {
    background: rgba(114, 139, 223, 0.4);
  }

  .table td {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    font-size: 13px;
  }

  .table td:before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.table--rebuilt__contacts--rectangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 20px;
  border-color: transparent transparent transparent  #15ff00;
}
